{% extends "input_fields/base.html" %}
{% load widget_tweaks %}

{% block title %}Register Activity{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Register Project</h3>
            </div>
                
            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Enter Project Name</label>
                                {% render_field forms.project_name class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Enter Donor</label>
                                {% render_field forms.donor class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Choose Thematic</label>
                                {% render_field forms.thematic_area class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Choose Person Responsible</label>
                                {% render_field forms.person_responsible class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Choose Frequency/label>
                                {% render_field forms.frequency class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Enter Start date</label>
                                {% render_field forms.project_start class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Enter End Date</label>
                                {% render_field forms.project_end class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Enter Value</label>
                                {% render_field forms.value class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Choose Currency</label>
                                {% render_field forms.currency class="form-control" rows="3" %}
                            </div>
                        </div>
                    </div>
                    <br>  
                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}