<nav class="navbar navbar-expand-lg navbar-dark  text-bg-primary p-3">
    <div class="container-fluid">
      <a class="navbar-brand " href="{% url 'home' %}">KELIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
          <li class="nav-item">
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Reports
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" aria-current="page" href="{% url 'activities' %}">Activity Reports</a></li>
                <li><a class="dropdown-item" aria-current="page" href="#">Monthly Reports</a></li>
                <li><a class="dropdown-item" aria-current="page" href="#">Quarterly Reports</a></li>
                <li><a class="dropdown-item" aria-current="page" href="#">Bi-Annual Reports</a></li>
                <li><a class="dropdown-item" aria-current="page" href="#">Annual Reports</a></li>
              </ul>
            </li>  
          </li>
          <li class="nav-item">
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Poll Tools
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" aria-current="page" href="{% url 'home-poll' %}">Assesment Tool</a></li>
                <li><a class="dropdown-item" aria-current="page" href="{% url 'add-article' %}">Article Tool</a></li>
              </ul>
            </li>  
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home-input' %}">Input Field</a>     
          </li>
          

        </li>
        </ul>
          
      </div>
    </div>
  </nav>